@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  background-color: blue;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  /* background: #1c2854; */
  /* background-color: red; */
}

.pText {
  color: #130f49;
}
.pColor {
  background-color: #130f49;
}

.sColor {
  background-color: #c7d7e5;
}

.aboutmeBgColor {
  background: linear-gradient(to right, #dbeaf0, #dde1ee);
}

/* Animate Text */
